div { background-color: lavenderblush;
    color:rgb(119, 102, 102) ;
    width: 40%;
    /* height: 10%; */
    margin: auto;
    border: 1px solid aqua;
    border-radius: 25px;
    padding: 10px;
    box-sizing: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color:purple;
    color:rgba(196, 130, 130, 0.699) ;
}
h1 {
    text-align: center;
    color:black;
    margin: 7px 0px;
}
p { 
    color: black
    text-align:center;
 }
input[type=button] {
    background-color:rgb(86, 53, 117);
    color: rgb(119, 102, 102);
    width: 40%;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing:border-box;
}
input[type=password] {
    background-color:rgb(86, 53, 117) ;
    color:snow;
    width: 49%;
    padding: 8px 12px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
#ibia{
    text-align: left ;
    color:rgb(119, 102, 102) ;
    margin: 5px 0px;
}